
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body {

  margin: 30px auto;
  max-width: 1000px;
  font-family:'Quicksand', sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align:center;
  background-color:/*#B0E0E6*/#EAF2F8  ;
}

#nav1{

    border:px solid #ccc;
    border-bottom: none;
    overflow: hidden;
    font-size: 35px;
    }

#nav1 ul{
        padding: 0;
        margin: 0 auto;
        list-style: none;
        width: 17em;
        overflow: hidden;
        }



#nav1 ul li a:hover{
            background-color:#21618C;
            }


  #nav1 ul li a:active{
                    color:#E7DD1A;
                        }
a h1:hover{
    background-color:#21618C;
}
a h1:active{
  color:#E7DD1A;
}
h1 {
  padding: 20px 0px 10px 0px;
}

a{
  color: #A9CCE3;
  text-decoration: none;
}
/* Centers images */

img {
display: block;
margin: 0px auto;
}

/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */

.portfolio-item {
margin-top: 60px;
padding: 40px;
background-color: #FFFFFF;
}

 p{font-size: 15px;
text-align: justify;
padding-top: 50px;}


#flow1{
    width: 40%;
    float: left;
    margin-left: 4em;
    margin-right: 4em;
    }



#flow2{
    width:40%;
    float: right;
    margin-right: 2em;
    }

    footer{
            clear: both;
        }
